.gold {
    color: gold;
}

.margin-right-5{
    margin-right: 5px;
}

.bold {
    font-weight: bold;
}

.v-input {
    display: list-item;
    list-style-type: none;
}

.v-input .tools {
    display: none;
    float: right;
    color: #dd4b39;
}

.v-input .tools > .fa,
.v-input .tools > .glyphicon,
.v-input .tools > .ion {
    margin-right: 5px;
    cursor: pointer;
}

.v-input:hover .tools {
    display: inline-block;
}

input:invalid {
    border: 2px dashed red;
}
